body{
    position: relative;
    font-family: 'Montserrat', sans-serif;
}

#firstSection,
#secondSection{
    background-color: #72dfcc;
}

#firstSection{
    margin-top: -42px;
    height: 700px;
    border-bottom: 10px solid #bcaaa4;
}


#logo{
    width: 300px;
    margin-left: -60px;
    text-shadow: 2px 2px #6d4c41;
    font-weight: bold;
    letter-spacing: 2px;
}

.foot{
    position:fixed;
    height: 60px;
    background-color:#bcaaa4;
   bottom:0;
    width: 100%;
    border-top: #6d4c41 2px solid;
    z-index: 13;
    
    
}

.email{
   width: 200px;
    font-size:15px;
    letter-spacing: 1.5px;
    text-decoration: none;
    color: white;
    
}
#email{
    text-align: center;
    margin-top: 15px;
    text-shadow: 1px 1px #6d4c41;
}


.hs{
    color: white;
    width: 30%;
    font-family: 'Amatic SC', cursive;
   padding-top: 100px;
    margin-left: 40px;
    position: relative;
    z-index: 12;
}

.sideAbout{
    color: white;
  background-color:#bcaaa4;
  margin-top: 10px;
}

.sideWork{
    color: white;
    background-color:#72dfcc;
    margin-top: 10px;
}

#secondSection{
    height: 1070px;
    width: 80%;
    margin: 0 auto;
    box-shadow: 5px 5px #bcaaa4;
    margin-top: 60px;
}

.secondSectionContainer{
    height: 1200px;
    position: relative;
}

#aboutMe{
    position: relative;
    bottom: 300px;
    margin-left: 60px;
   

}

.sticky{
   float: left;
   position: -webkit-sticky;
    position: sticky;
    margin-top: -290px;
    top: 100px;
    margin-left: 7%;
    margin-bottom: 200px;
   
}

.headshot{
    border-radius: 50%;
    border: #6d4c41 5px solid;
    padding: 5px;
    background-color: #dff7f3;
    height:50%;
    width: 50%;
   
    
    
    
}

#paragraphs{
    float: right;
    margin-top: -480px;
    font-size: 20px;
    margin-right: 40px;
    
   
}
.paragraphs{
    float: right;
    width: 60%;
}

p{
    margin-bottom: 30px;
    line-height: 1.5;
    
}

#work{
    background-color:#72dfcc;
    border-top: 5px solid #bcaaa4;
    padding-bottom: 200px;
}

.workHead{
    color: #6d4c41;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 30px;
    font-size: 40px;
}

.seeMe{
    font-size: 20px;
    color: #6d4c41;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 30px;
}

.link1,
.link2,
.link3{
  text-decoration: none;
  color: #6d4c41;
  font-size: 15px;
  border: 4px solid #bcaaa4;
  padding: 10px;
  background-color: white;
  font-weight: bold;
  box-shadow: 5px 5px 5px grey;
}

.link1:hover,
.link2:hover,
.link3:hover{
    color: #6d4c41;
    border: 7px solid #bcaaa4;
    background-color: white;
}

#thisCard{
    margin: 20px;
    padding: 10px;
    width: 300px;
    box-shadow: 5px 5px 5px grey;
}

.cardsGoHere{
    width: 90%;
    margin: 0 auto;
   
}

.jar{
    position: relative;
    z-index:3;
}












































/*large desktop*/

 @media screen and (max-width: 1199px){
    .hs{
        padding-top: 0px;
        margin-left: 10px;
    }
    .h1{
        font-size: 70px;
      
    }
    
#firstSection{
  margin-top: -80px;
  height: 700px;
}

#jar{
  margin-top: 140px;
}

#logo{
  margin-left: -140px;
  text-shadow: 2px 2px #6d4c41;
  font-weight: bold;
  letter-spacing: 2px;
  

}

#aboutMe{
    position: relative;
    top: -140px;
    margin-left: 60px;
   

}

.sticky{
   float: left;
   position: -webkit-sticky;
    position: sticky;
    margin-top: -90px;
    top: 100px;
    margin-left: 8%;
    margin-bottom: 200px;
   
}

.headshot{
    border-radius: 50%;
    border: #6d4c41 2px solid;
    padding: 2px;
    background-color: #dff7f3;
    height: 250px;
    width: 250px;
   
    
    
    
}

#paragraphs{
    float: right;
    margin-top: -100px;
    font-size: 20px;
    margin-right: 20px;
    
   
}
.paragraphs{
   
    width: 430px;
}

p{
    margin-bottom: 30px;
    line-height: 1.5;
    
}

#secondSection{
    height: 1300px;
    width: 80%;
    margin: 0 auto;
    box-shadow: 5px 5px #bcaaa4;
    margin-top: 60px;
}

.secondSectionContainer{
    height: 1400px;
  
    position: relative;
}

#thisCard{
    width: 300px;
    height: 370px;
}

.cardsGoHere{
    width: 70%;
    margin: 0 auto;
   
}
}



 /*Tablet*/
 @media screen and (max-width: 991px){
    .hs{
        padding-top: 0px;
        margin-left: 10px;
    }
    .h1{
        font-size: 50px;
      
    }
    
#firstSection{
  margin-top: -100px;
  height: 650px;
}

#jar{
  margin-top: 140px;
}

#logo{
  margin-left: -140px;
  text-shadow: 2px 2px #6d4c41;
  font-weight: bold;
  letter-spacing: 2px;
  

}

#aboutMe{
    position: relative;
    top: -100px;
    margin-left: 60px;
   

}

.sticky{
   float: left;
   position: -webkit-sticky;
    position: sticky;
    margin-top: -90px;
    top: 100px;
    margin-left: 8%;
    margin-bottom: 200px;
   
}

.headshot{
    border-radius: 50%;
    border: #6d4c41 2px solid;
    padding: 2px;
    background-color: #dff7f3;
    height: 30%;
    width: 30%;
   
    
    
    
}

#paragraphs{
    float: right;
    margin-top: -380px;
    font-size: 20px;
    margin-right: 20px;
    
   
}
.paragraphs{
   float: right;
    width: 58%;
}

p{
    margin-bottom: 30px;
    line-height: 1.5;   
}

#secondSection{
    height: 1550px;
    width: 80%;
    margin: 0 auto;
    box-shadow: 5px 5px #bcaaa4;
    margin-top: 60px;
}

.secondSectionContainer{
    height: 1650px;
    position: relative;
}

#thisCard{
    width: 230px;
    height: 370px;
}

.cardsGoHere{
    width: 90%;
    margin: 0 auto;
   
}
}







/*Phone*/
  @media screen and (max-width: 600px){
      .hs{
          padding-top: 0px;
          margin-left: 10px;
      }
      .h1{
          font-size: 32px;
      }
      
    #firstSection{
        margin-top: -100px;
        height: 650px;
    }

#jar{
    margin-top: 140px;
}

#logo{
    margin-left: -70px;
    text-shadow: 2px 2px #6d4c41;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 20px;
}

#aboutMe{
    position: relative;
    top: -80px;
    margin-left: 30px;
}

.sticky{
    float: left;
    width: 200px;
     position: relative;
     margin-top: -100px;
     top: 20px;
     margin-left: 10%;
     margin-bottom: 0px;
 }
 
 .headshot{
     border-radius: 50%;
     border: #6d4c41 5px solid;
     padding: 5px;
     background-color: #dff7f3;
     width: 230px;
     height: 230px;   
 }

 #paragraphs{
    float: none;
    margin-top: 190px;
    font-size: 15px;
    
    margin-left: 80px; 
}

.paragraphs{
    width: 200px;
}

p{
    margin-bottom: 20px;
    line-height: 1.5; 
}

#secondSection{
    height: 1560px;
    width: 80%;
    margin: 0 auto;
    box-shadow: 5px 5px #bcaaa4;
    margin-top: 60px;
}

.secondSectionContainer{
    height: 1660px;
    position: relative;
}

#thisCard{
    margin: 20px;
    padding: 10px;
    width: 300px;
}

.cardsGoHere{
    width: 90%;
    margin: 0 auto;
}

  }


 

